{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/galeira/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/galeria/header.css '%}" />
        <link rel="stylesheet" href="{% static 'css/galeria/search.css '%}" />
        <link rel="stylesheet" href="{% static 'css/galeria/pagination.css'%}" />
        <link rel="stylesheet" href="{% static 'css/galeria/gallery.css' %}" />
        <link rel="stylesheet" href="{% static 'css/galeria/card.css' %}" />
        <script src="{% static 'js/galeria.js' %}" defer></script>
        <title>Galeria</title>
    </head>
    <body>
        <header>
            <div class="logo"></div>
            <div class="search-container">
                <label class="search-icon" for="search-input"></label>
                <input
                    type="text"
                    class="search-input"
                    id="search-input"
                    placeholder="Procurar imagens"
                />
            </div>
        </header>
        <main>
            <section class="container-gallery"></section>
            <section id="paginate">
                <div class="pagination">
                    <div class="first">&#171;</div>
                    <div class="page-action" id="page-previous">&lt;</div>
                    <div class="page" id="page">1</div>
                    <div class="page-action" id="page-next">&gt;</div>
                    <div class="last">&#187;</div>
                </div>
            </section>
        </main>
    </body>
</html>